<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link href="/styles/home.css" rel="stylesheet">
    <link href="/styles/admin_products.css" rel="stylesheet">
    
</head>
<body>
    <div class="navbar" id="navbar">
        <div class="logo">
            <p>LOGO</p>
        </div>
        <div class="links">
            <input type="checkbox" unchecked  id="check" hidden>
            <button class="copy" id="c" hidden onclick="btn()">&#128980;</button>
            
            <ul>
                <li><a href="#pi" class="nav_link">Home</a></li>
                <li><a href="#srvices" class="nav_link">About</a></li>
                <li><a href="#data" class="nav_link">Products</a></li>
                <li><a href="/admin_order_list" class="nav_link">Orders</a></li>
                <li><a href="#contct" class="nav_link">Contact</a></li>
            </ul>
        </div>
    </div>
    
    <div class="content">
        <div class="poster_image" id="pi">
            <img src="/photos/poster.jpeg">
        </div>
        <a href="/add_product" class="add_product">Add Product</a>
        <div class="data" id="data">
            <% rows.forEach(row => { %>
                <div class="show_product">
                    <div class="product_img">
                        <img src="data:image/png;base64,<%= row.file_src %>" class="pimg">
                    </div>
                    <div class="card">
                        <p>Product : <%= row.product_name %></p>
                        <p>Price : $<%= row.product_price %></p>
                        <div class="up">
                            <form method="get" action="/product_update?id=<%= row.id %>">
                                <input type="number" value="<%= row.id %>" name="id" hidden>
                                <button class="crud">update</button>
                            </form>
                            <form method="post" action="/product_delete?id=<%- row.id %>">
                            <button type="submit" class="crud">delete</button>
                            </form>
                        </div>
                      
    
                    </div>
                </div>
                
        
            <% }) %>
        </div>
           
        
    </div>
    <div class="services" id="srvices">
        <p class="service_head">SERVICES</p>
        <div class="service_body">
            <div class="service1">
                <div class="side1">
                    <img src="/photos/door_step.jpeg">
                </div>
                <div class="side2">
                    <p class="side_heading">Door Delievery</p>
                    <p class="side_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nulla dolorum molestias maxime, vel maiores animi repellat minus placeat ut fugiat amet enim totam aliquam earum perspiciatis magnam culpa cupiditate eius excepturi quasi. Ipsum soluta assumenda officiis quidem, voluptate repellendus omnis! Numquam nesciunt consectetur neque sunt laboriosam dolore amet! Et cum voluptatibus, harum id ipsum aperiam consequatur quisquam amet sapiente!</p>
                </div>
                
            </div>
            <div class="service2">
                <div class="side1">
                    <img src="/photos/all_in_one.jpeg">
                </div>
                <div class="side2">
                    <p class="side_heading">All In One</p>
                    <p class="side_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ab excepturi odit quibusdam corrupti laboriosam eum. Quia ut laudantium magni, corporis quam totam dolorem consequatur voluptates dicta, est perspiciatis repellat nemo reprehenderit libero ducimus esse tempora at nostrum sit, hic vitae asperiores nulla numquam. Omnis iste dignissimos quas sequi quod!</p>
                </div>
               
            </div>
        </div>
        <div class="arrow"><a href="#navbar"><button class="shopping">Go To Top <i class="bi bi-arrow-up-circle-fill"></i></button></a></div>
    </div>
    <%- include('footer')%>
</body>
</html>