<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link href="/styles/home.css" rel="stylesheet">
    <link href="/styles/login.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="navbar" id="navbar">
        <div class="logo">
            <p>LOGO</p>
        </div>
        <div class="links">
            <input type="checkbox" unchecked id="check" hidden>
            <button class="copy" id="c" hidden onclick="btn()">&#128980;</button>

            <ul>
                <li><a href="#pi" class="nav_link">Home</a></li>
                <li><a href="#srvices" class="nav_link">About</a></li>
                <li><a href="/products" class="nav_link">Products</a></li>
                <li><a href="/fullcart" class="nav_link">Orders</a></li>
                <li><a href="#contct" class="nav_link">Contact</a></li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="poster_heading">
            <p class="poster_font">QUALITY PRODUCTS</p>
            <p class="poster_content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima exercitationem
                voluptatum accusamus laboriosam, sit dicta distinctio amet ea, harum molestias necessitatibus laudantium
                perspiciatis quo aliquid et dolorum rem alias corporis debitis quam modi. Modi saepe maiores assumenda!
                Unde, distinctio! Magni sapiente debitis minima cum, repellendus consequatur velit nam error
                praesentium.</p>
        </div>
        <div class="poster_image" id="pi">
            <img src="/photos/poster.jpeg">
        </div>
        <p class="service_head">Orders</p>
        <div class="products">
            <% orders.forEach(row=> { %>
                <div class="show_product">

                    <div class="product_img">
                        <img src="/photos/dress7.jpeg" class="pimg">
                    </div>
                    <div class="card">
                        <p>
                            Product : <%= row.product %>
                        </p>
                        <p>
                            Price : $<%= row.product_price %>
                        </p>
                        <p>
                            Quantity : <%= row.quantity %>
                        </p>
                        <form action="/order_status" method="post">
                            <input class="order_status" value="<%= row.order_status %>" type="submit" name="order_status" class="login_btn" id="order_status">
                            <input value="<%= row.id %>" name="id" hidden>
                        </form>



                    </div>
                </div>

                <% }) %>

       
       
            </div>


    </div>
    <div class="services" id="srvices">
        <p class="service_head">SERVICES</p>
        <div class="service_body">
            <div class="service1">
                <div class="side1">
                    <img src="/photos/door_step.jpeg">
                </div>
                <div class="side2">
                    <p class="side_heading">Door Delievery</p>
                    <p class="side_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum nulla
                        dolorum molestias maxime, vel maiores animi repellat minus placeat ut fugiat amet enim totam
                        aliquam earum perspiciatis magnam culpa cupiditate eius excepturi quasi. Ipsum soluta assumenda
                        officiis quidem, voluptate repellendus omnis! Numquam nesciunt consectetur neque sunt laboriosam
                        dolore amet! Et cum voluptatibus, harum id ipsum aperiam consequatur quisquam amet sapiente!</p>
                </div>

            </div>
            <div class="service2">
                <div class="side1">
                    <img src="/photos/all_in_one.jpeg">
                </div>
                <div class="side2">
                    <p class="side_heading">All In One</p>
                    <p class="side_content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ab excepturi
                        odit quibusdam corrupti laboriosam eum. Quia ut laudantium magni, corporis quam totam dolorem
                        consequatur voluptates dicta, est perspiciatis repellat nemo reprehenderit libero ducimus esse
                        tempora at nostrum sit, hic vitae asperiores nulla numquam. Omnis iste dignissimos quas sequi
                        quod!</p>
                </div>

            </div>
        </div>
        <div class="arrow"><a href="#navbar"><button class="shopping">Go To Top <i class="bi bi-arrow-up-circle-fill"></i></button></a></div>
    </div>
    <%- include('footer')%>
  
    <script>
       document.querySelectorAll('.order_status').forEach(button => {
    button.addEventListener('click', function(event) {
        if (this.value === "Pending") {
            this.value = "Confirmed";
        } else if (this.value === "Confirmed") {
            this.value = "Shipped";
          
        }else if(this.value === "Shipped") {
            this.value = "Delivered";
        }
    });
});
    </script>
</body>

</html>